<button class="back round-button" title="Return to blog" (click)="goBack()">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="feather feather-arrow-left"
  >
    <line x1="19" y1="12" x2="5" y2="12"></line>
    <polyline points="12 19 5 12 12 5"></polyline>
  </svg>
</button>

<article class="post" *ngIf="post">
  <header class="post__top-header">
    <h2 class="post__title">{{ post.title }}</h2>

    <!-- Opens modal for editing the post -->
    <button
      (click)="openPostModal()"
      title="Open modal to edit the post"
      class="post__toggle-edit round-button"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-edit"
      >
        <path
          d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"
        ></path>
        <path
          d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"
        ></path>
      </svg>
    </button>

    <!-- Opens the delete confirmation modal -->
    <button
      (click)="openDeleteConfirmationModal()"
      title="Delete the post"
      class="post__delete round-button"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-trash"
      >
        <polyline points="3 6 5 6 21 6"></polyline>
        <path
          d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
        ></path>
      </svg>
    </button>
  </header>

  <div class="post__content" [innerHTML]="post.content"></div>
</article>

<app-modal-edit
  *ngIf="showEditModal"
  [post]="post"
  (close)="closePostModal()"
  (submitForm)="onSubmitForm()"
>
</app-modal-edit>

<!-- 
    * pass the post.id to component to delete the post by id
    * return back in history if the post is deleted
 -->
<app-modal-confirm-deletion
  *ngIf="showDeleteConfirmationModal && post"
  (close)="closeDeleteConfirmationModal()"
  (delete)="goBack()"
  [postId]="post.id"
>
</app-modal-confirm-deletion>
