<h2>All posts</h2>

<ul class="posts-list">
  <li *ngFor="let post of posts">
    <a class="post-card" routerLink="/post/{{ post.id }}">
      <h3 class="post-card__title">{{ post.title }}</h3>
      <div class="post-card__content" [innerHTML]="post.content"></div>
    </a>
  </li>
</ul>

<button
  class="new-post round-button"
  title="Add a new post"
  (click)="openPostModal()"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="feather feather-plus"
  >
    <line x1="12" y1="5" x2="12" y2="19"></line>
    <line x1="5" y1="12" x2="19" y2="12"></line>
  </svg>
</button>

<app-modal-create
  *ngIf="showModal"
  (close)="closePostModal()"
  (submitForm)="onSubmitForm()"
></app-modal-create>
